#apppage #logo {
  max-width: 40px;
}

#apppage .expo-icon {
  width: 1.4em;
}

#apppage .store-badge {
  max-height: 50px;
}
#apppage .nopad {
  padding: 0px;
}

#apppage .img-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#apppage .img-main {
  display: flex;
  max-height: 450px;
  margin: 5px;
}
.discord {
  width: 36px;
}

#apppage .gradient {
  background: -moz-linear-gradient(45deg, rgba(27, 30, 33, 0.151), rgba(47, 54, 61, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(27, 30, 33, 0.7), rgba(47, 54, 61, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(27, 30, 33, 0.7)), to(rgba(47, 54, 61, 0.7)));
  background: -o-linear-gradient(45deg, rgba(27, 30, 33, 0.7), rgba(47, 54, 61, 0.7) 100%);
}

#apppage .view {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

#apppage .navbar {
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

#apppage .top-nav-collapse {
  background: #1B1E21 !important;
}

@media (max-width: 768px) {
  #apppage .navbar:not(.top-nav-collapse) {
      background: #1B1E21 !important;
  }
}